.if feature(LUA)
global
    lua-load-per-thread http-connect.lua

backend http-proxy from http-mode
.if version_atleast(3.1-dev11)
    server tunnel abnsz@ha-tunnel no-check send-proxy-v2
.else
    server tunnel abns@ha-tunnel no-check send-proxy-v2
.endif

    option h1-case-adjust-bogus-server
    option http-no-delay


listen tunnel from tcp-mode
.if version_atleast(3.1-dev11)
    bind abnsz@ha-tunnel accept-proxy proto none
.else
    bind abns@ha-tunnel accept-proxy proto none
.endif
    server tcp * no-check

    option srvtcpka
    srvtcpka-cnt 3
    srvtcpka-idle 45s
    srvtcpka-intvl 45s

    retry-on none

    tcp-request inspect-delay 5s
    tcp-request content set-log-level silent unless { src_is_local }
    # set dst to 255.255.255.255:0 to prevent infinity loop
    # when error occur in the lua code and the frontend accept connection from an ip
    tcp-request content set-dst ipv4(255.255.255.255)
    tcp-request content set-dst-port int(0)
    tcp-request content lua.http-req-connect
    tcp-request content do-resolve(req.dst_ip,default) var(req.dst_domain) if { var(req.dst_domain) -m found } !{ var(req.dst_ip) -m found }
    tcp-request content lua.deny-status 404 \x3B\x20error\x3D\x22dns_error\x22 unless { var(req.dst_ip) -m found }
    # tcp-request content lua.deny-status 403 \x3B\x20error\x3D\x22destination_ip_prohibited\x22 if { var(req.dst_ip) -m ip -f dest-prohibited.lst }
    tcp-request content set-dst var(req.dst_ip)
    tcp-request content set-dst-port var(req.dst_port)

    tcp-response content lua.http-res-connect
.endif
